* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans ', sans-serif;
}

main {
    background-color: #2b2a33;
    height: calc(100% - 80px);
}

section {
    width: 90%;
    margin: auto;

}